* {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: Ubuntu;

}
a {
    text-decoration: none;
    color: rgb(22, 138, 230);
}

h2 {
    /*color: rgb(22, 138, 230);*/
    font-size: 20px;
    border-bottom: 2px solid #5090CD;
    margin-top: 0px;
}

h3 {
    margin-bottom: 3px;
    font-weight: normal;
    font-size: 17px;
}

p{
    margin: 0px;
}

ul {
    margin: 5px 0px 0px 0px;
    list-style: none;
}

ul li p {
    display: inline-block;
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #5090CD;
    font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.utbild h3 {
    font-weight: bold;
}
.side_class h3 {
    font-size: 20px;
    font-weight: bold;
}
#side p {
    margin-bottom: 3px;
}
#lenguages p{
    /*color: black;
    font-size: 13px;
    display: inline-block;
    padding: 4px 8px 4px 8px;
    border: 1px solid #B8B8B8;
    border-radius: 4px 4px 4px 4px;*/
    /*padding-bottom: 3px;
    border-bottom: 2px solid rgb(22, 138, 230);*/
    color: black;
}
#skills p {
    display: inline-block;
    padding: 4px 8px 4px 8px;
  border-radius: 4px 4px 4px 4px;
    background-color: rgb(22, 138, 230);
    /*background-color: #5090CD;*/
    color: white;
    
    font-size: 13px;
}

#intress p {
    color: black;
    font-size: 13px;
    display: inline-block;
    padding: 4px 8px 4px 8px;
    border: 1px solid #B8B8B8;
    border-radius: 4px 4px 4px 4px;
  margin-bottom: 6px;
}
.gray p {
    color: #5090CD;
    /*color: rgb(152, 161, 179);*/
}